Rover_flow.json
[
    {
        "id": "d3dc60c27cad6222",
        "type": "tab",
        "label": "Rover telemetry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b49f8b1a420a4af",
        "type": "mqtt in",
        "z": "d3dc60c27cad6222",
        "name": "Rover telemetry",
        "topic": "Rover/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d220cbeb.3f2478",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "113945bf0d90d97a"
            ]
        ]
    },
    {
        "id": "113945bf0d90d97a",
        "type": "switch",
        "z": "d3dc60c27cad6222",
        "name": "Demux",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Rover/Battery",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rover/Motor1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rover/Motor2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rover/Motor3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rover/Motor4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "364768fab4300a30"
            ],
            [
                "6e2e9ddc24219e3f",
                "69bf6bf8d3a3dc52"
            ],
            [
                "6e2e9ddc24219e3f"
            ],
            [
                "6e2e9ddc24219e3f"
            ],
            [
                "6e2e9ddc24219e3f"
            ]
        ]
    },
    {
        "id": "364768fab4300a30",
        "type": "ui_gauge",
        "z": "d3dc60c27cad6222",
        "name": "",
        "group": "7248df1a55649298",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery",
        "label": "Volt",
        "format": "{{value|number: 2}}",
        "min": 0,
        "max": "13",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "9.5",
        "seg2": "11",
        "className": "",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "6e2e9ddc24219e3f",
        "type": "ui_chart",
        "z": "d3dc60c27cad6222",
        "name": "",
        "group": "01b85ee84daa051d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Motor currents [A]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "69bf6bf8d3a3dc52",
        "type": "debug",
        "z": "d3dc60c27cad6222",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "2a9be564cf45af8b",
        "type": "ui_button",
        "z": "d3dc60c27cad6222",
        "name": "",
        "group": "01b85ee84daa051d",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "6e2e9ddc24219e3f"
            ]
        ]
    },
    {
        "id": "2da21181bd911b55",
        "type": "ui_switch",
        "z": "d3dc60c27cad6222",
        "name": "",
        "label": "Backlight",
        "tooltip": "Logo backlight",
        "group": "ca0185eacfa68882",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Rover/LogoTopic",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 480,
        "wires": [
            [
                "049f89e41891722d",
                "ff424cdc09cb3f66"
            ]
        ]
    },
    {
        "id": "049f89e41891722d",
        "type": "mqtt out",
        "z": "d3dc60c27cad6222",
        "name": "Rover commands",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d220cbeb.3f2478",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "c0e754549289eb0b",
        "type": "inject",
        "z": "d3dc60c27cad6222",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "2da21181bd911b55"
            ]
        ]
    },
    {
        "id": "ff424cdc09cb3f66",
        "type": "ui_led",
        "z": "d3dc60c27cad6222",
        "order": 3,
        "group": "ca0185eacfa68882",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "038b999deef7ac20",
        "type": "comment",
        "z": "d3dc60c27cad6222",
        "name": "Get rover's telemetry",
        "info": "",
        "x": 170,
        "y": 120,
        "wires": []
    },
    {
        "id": "dc4c9cf2c70c01f3",
        "type": "comment",
        "z": "d3dc60c27cad6222",
        "name": "Send commands to rover",
        "info": "",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "a1ed6162f1421fcb",
        "type": "ui_spacer",
        "z": "d3dc60c27cad6222",
        "name": "spacer",
        "group": "01b85ee84daa051d",
        "order": 3,
        "width": 14,
        "height": 1
    },
    {
        "id": "742360adb1c46d88",
        "type": "ui_spacer",
        "z": "d3dc60c27cad6222",
        "name": "spacer",
        "group": "ca0185eacfa68882",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d220cbeb.3f2478",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7248df1a55649298",
        "type": "ui_group",
        "name": "Battery",
        "tab": "a132f8fa93bd33bc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01b85ee84daa051d",
        "type": "ui_group",
        "name": "Motors",
        "tab": "a132f8fa93bd33bc",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca0185eacfa68882",
        "type": "ui_group",
        "name": "Logo",
        "tab": "a132f8fa93bd33bc",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a132f8fa93bd33bc",
        "type": "ui_tab",
        "name": "Rover",
        "icon": "directions_car",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]